@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<head>
    <link href="~/Content/CSS/Account.css" rel="stylesheet" type="text/css" />
</head>

<div class="container-fluid" id="main-container">
    <div class="row flex-column justify-content-center align-content-center" id="the-row">
        <div class="col-sm-8 col-md-8 col-lg-6" id="text-container">
            <h1 class="text-center header-text">@ViewBag.Title</h1>
            <p class="text-center message">
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
	
