
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/CSS/Roles.css" rel="stylesheet" type="text/css" />

@using Microsoft.AspNet.Identity

<div class="container-fluid p-0">

    <div class="container-fluid m-0 p-0" id="head">
        <h2>Dashboard</h2>
    </div>

    <div class="container-fluid m-0 ps-lg-5 pe-lg-5 pt-lg-2 p-md-3 p-sm-0">
        <div class="jumbotron d-flex justify-content-center align-items-center">
            <h3>Welcome @User.Identity.Name.ToString() to the Dashboard</h3>
        </div>
        <div class="row gap-3 g-0 p-0">
            <div class="col d-flex flex-column justify-content-center align-items-center blocks">
                <h6>Projects</h6>
                <h2>@ViewBag.projects</h2>
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center blocks">
                <h6>Images</h6>
                <h2>@ViewBag.images</h2>
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center blocks">
                <h6>Users</h6>
                <h2>@ViewBag.users</h2>
            </div>
        </div>
    </div>

</div>
<style>

    .jumbotron {
        width: 100%;
        height: 30vh;
        background-color: lightgray;
        border-radius: 10px;
        padding: 0px;
        margin-bottom: 50px;
    }

    .blocks {
        background-color: lightslategrey;
        height: 300px;
        width: 90%;
        border-radius: 10px;
    }

        .blocks h3, .blocks p {
            color: white;
        }
</style>

