@model Capentry.Models.Images

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/CSS/Images.css" rel="stylesheet" type="text/css" />

<div class="row g-0 align-items-center align-content-center justify-content-center crud-container" id="delete">
    <div class="col-lg-5 p-3">
        <h2>Delete</h2>
        <h3>Are you sure you want to delete this image?</h3>
        <dl class="dl-horizontal visually-hidden">
            <dt>
                @Html.DisplayNameFor(model => model.ImageName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-dark" />
                @Html.ActionLink("Back to List", "Index",null, new {@class= "text-decoration-none" })
            </div>
        }
    </div>
    <div class="col-lg-7 p-3">
        <img class="img img-fluid preview text-decoration-none" loading="lazy" src=@(String.Format("{0}{1}", "https://res.cloudinary.com", Model.ImagePath)) alt="" />
    </div>
</div>
