@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="d-flex h-100 w-100 justify-content-center align-content-center align-items-center">
    <h1 class="text-danger text-center">Error.</h1>
    <h2 class="text-danger text-center">An error occurred while processing your request.</h2>
</div>

