body {
}

h1{
    font-size:50px;
}
#Images{
    background-color:inherit;
    margin-bottom:100px;
}

#Images img{
    width:620px;
    height:300px;
    aspect-ratio:initial;
    object-fit:cover;
    image-orientation:45deg;
}
