@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior:smooth;
}
body {
    font-family: Roboto,sans-serif;
    margin: 0px;
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    /*For the navbar*/
    padding-top: 10vh;
    min-height: 100vh;
}
.body-content {
    min-height:90vh;
}
#main{
    margin:0;
    padding:0;
    /*min-height:63vh;*/
    min-width:100%;
}
.navbar {
    background-color: black;
    border: none;
    border-bottom:thick;
    border-bottom-color:gold;
    padding-left: 10px;
    padding-right: 10px;
    font-family:Nunito,serif;
    
}

.navbar .container {
    min-height:8vh;
}

.navbar-toggler {
    opacity: 1;
    border-radius: 0px;
    color: white !important;
    border-width:0 !important;
    border: none;

}
.navbar-toggler:hover {
    border-color: white !important;
    background-color: transparent !important;
    border-radius: 0;
    opacity: 1;
    border: none!important;
    
}
.navbar-toggler:focus {
    border-color: white !important;
    background-color: transparent;
    border-radius: 0px;
    opacity: 1;
    border: none!important;
    box-shadow:none;
}

    .navbar-toggler:focus > .navbar-toggler-icon {
        /*background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em no-repeat;*/
        color: white;
        font-family: FontAwesome;
        content: "\f095";
    }

.navbar-toggler:disabled {
    border-color: white !important;
    background-color: transparent;
    border-radius: 0px;
    opacity: 1;
    border: none!important;
}
.navbar-toggler:active {
    border-color: white !important;
    background-color: transparent !important;
    border-radius: 0px;
    border: none!important;
    opacity: 1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*NABBAR BOOTSTRAP TEXT COLOR IS AROUND 4668*/

/*NAVBAR BRAND*/
.navbar-inverse .navbar-brand {
    color: gold;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: gold;
    background-color: transparent;
    font-size:xx-large;
}

.nav .nav-item{
    padding-left:15px;
    padding-right:15px;
}
/*NAVBAR LINKS*/
.navbar-nav > li > a {
    color: white !important;
    /*text-align: center;*/
    font-size:large !important;
    letter-spacing:3px;
    font-variant-caps:all-petite-caps;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: gold !important;
    background-color: transparent;
}

.navbar-nav > li{
    padding-left:5px;
    padding-right:5px;
}
/*FOOTER*/
footer {
    margin: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    padding: 0px;
    padding-top: 30px;
    border: none;
    background-color: black;
    bottom: 0;
    width: 100%;
    font-family:Roboto,sans-serif;
}
footer .col-lg-4{
    padding:5px;
    margin-bottom:5px;
}
#links h5, #links h6, #links h4 {
    color: dimgrey;
    font-size:x-large;
    font-family:Ubuntu,serif;
    font-variant-caps:all-petite-caps;
    font-weight:bolder;
    /*text-decoration-line:underline;
    text-underline-offset:8px;
    text-decoration-color:gold;
    text-decoration-thickness:4px;*/
}

#links {
    color: white;
    background-color: inherit;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Roboto,sans-serif;
    font-size:20px;
    letter-spacing:1.5px;
    margin-bottom:10vh;
}

/* Tablet */
@media (min-width:600px) {
    #links {
        color: white;
        background-color: inherit;
        padding-left: 40px;
        padding-right: 40px;
        font-family: Roboto,sans-serif;
        font-size: 20px;
        letter-spacing: 1.5px;
    }
}

/* Desktop */
@media (min-width:900px) {
    #links {
        color: white;
        background-color: inherit;
        padding-left: 60px;
        padding-right: 60px;
        font-family: Roboto,sans-serif;
        font-size: 20px;
        letter-spacing: 1.5px;
    }
}

#nav .nav-link{
    font-family:Roboto,sans-serif;
    font-variant-caps:all-petite-caps;
    font-size:inherit;
    font-weight:100;
    letter-spacing:inherit;
    transition:all 0.4s ease;
}

#nav .nav-link:hover{
    color:gold!important;
}

#contacts li{
    display:flex;
    flex-direction:row;
}
#contacts p {
    font-family: Roboto,sans-serif;
    font-variant-caps:all-petite-caps;
    font-size: inherit;
    letter-spacing: inherit;
    font-weight:100!important;
}

#copy{
    background-color:black;
    padding-top: 5px;
    padding-bottom: 5px;
}
#copy p {
    margin: auto;
    text-align: center;
    color: white;
    font-family: Roboto,sans-serif;
}
.email{
    font-variant-caps:normal;
    font-size:16px;
}
footer a {
    color: white;
    font-family: Roboto,sans-serif;
    text-decoration:none;
}

footer a:hover{
    color:lightgray;
}

/* Style all font awesome icons */
.fab,.fas, far {
    font-size:22px!important;
    color: gold;
    transition:all 0.3s ease;
}

/* Add a hover effect if you want */
.fab:hover, .fas:hover, far :hover {
    color: gold;
}

#social .fab, #social .fas, #social .far {
    font-size: 28px !important;
    text-align: center;
    color: white;
}

#contacts .fas,#contacts .fab{
    color:white;
    font-size:18px !important;
}

#contacts .fas:hover, #contacts .fab:hover {
    color: inherit;
}

.fa-facebook {
    
}

.fa-whatsapp {
    
}

.fa-instagram {
    
}
.fa-phone {
    
}
.btn{
    border-radius:0px;
}
.btn-dark{
    background-color:black;
    border-color:black;
}