html {
    overflow-x: hidden;
    overflow-y:auto;
    font-family:Roboto,sans-serif;
}
body {
    font-family: Roboto,sans-serif;
    margin: 0px;
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    /*For the navbar*/
    padding-top: 10vh;
    min-height: 100vh;
}
.body-content {
    min-height:90vh;
}
#main{
    margin:0;
    padding:0;
    /*min-height:63vh;*/
    min-width:100%;
}
.navbar {
    background-color: black;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family:Nunito,serif;
    
}

.navbar .container {
    min-height:8vh;
}

navbar-toggler{
    background-color:transparent;
    border-radius:0px;
}
.navbar-toggler:hover {
    border-color: white;
    background-color: transparent;
    border-radius: 0px;
}
.navbar-toggler:disabled {
    border-color: white;
    background-color: transparent;
    border-radius: 0px;
}
.navbar-toggler:active {
    border-color: white;
    background-color: transparent;
    border-radius: 0px;
}
.navbar span {
    color: white !important;
}

/*NABBAR BOOTSTRAP TEXT COLOR IS AROUND 4668*/

/*NAVBAR BRAND*/
.navbar-inverse .navbar-brand {
    color: gold;
    font-family: Pacifico, sans-serif;
    font-size:xx-large;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: gold;
    background-color: transparent;
    font-size:xx-large;
}

.nav .nav-item{
    padding-left:15px;
    padding-right:15px;
}
/*NAVBAR LINKS*/
.navbar-nav > li > a {
    color: white !important;
    /*text-align: center;*/
    font-size:large !important;
    letter-spacing:3px;
    font-variant-caps:all-petite-caps;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: gold !important;
    background-color: transparent;
}

.navbar-nav > li{
    padding-left:5px;
    padding-right:5px;
}
/*FOOTER*/
footer {
    margin: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    padding: 0px;
    padding-top: 30px;
    border: none;
    background-color: black;
    bottom: 0;
    width: 100%;
    font-family:Roboto,sans-serif;
}
footer .col-lg-4{
    padding:5px;
    margin-bottom:5px;
}
#links h5, #links h6, #links h4 {
    color: gray;
    font-size:x-large;
    font-family:Roboto,sans-serif;
    font-variant-caps:all-petite-caps;
}
#links {
    color: white;
    background-color: inherit;
    padding-left: 60px;
    padding-right: 60px;
    font-family: Roboto,sans-serif;
}
#nav{
    
}
#contacts li{
    display:flex;
    flex-direction:row;
}
#contacts p {
    font-family: Roboto,sans-serif;
}

#copy{
    background-color:black;
    padding-top: 5px;
    padding-bottom: 5px;
}
#copy p {
    margin: auto;
    text-align: center;
    color: white;
    font-family: Roboto,sans-serif;
}
footer a {
    color: white;
    font-family: Roboto,sans-serif;
}
/* Style all font awesome icons */
.fab,.fas, far {
    /*font-size: 40px;*/
    color: gold;
}

/* Add a hover effect if you want */
.fab:hover, .fas:hover, far :hover {
    color:gray;
}

.fa-facebook {
    
}

.fa-whatsapp {
    
}

.fa-instagram {
    
}
.fa-phone {
    
}
.btn{
    border-radius:0;
}