body {
    padding:0;
    margin:0;
    min-height:100vh;
}
.body-content {
    min-height: 100vh !important;
    padding:0;
}

#main {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E6DADA; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-position: center;
}

.navbar{
    display:none;
}

.navbar-brand {
    color: gold;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-decoration:none;
}
.navbar-brand:hover {
    color: gold;
}

footer{
    display:none;
}

.row{
    max-width:480px;
}

#LoginContainer{
    max-width:430px;
    min-width:320px;
    min-height:500px;
    max-height:100vh;
    margin:0;
    border:thin solid;
    border-color:lightgray;
    background-color:white;
    transition:linear 1s ease-in-out
}
.form-control{
    width:100% !important;
}
input{
    max-width:100%!important;
}
h2{
    font-family:Roboto,sans-serif;
    font-weight:600;
}
a{
    text-decoration:none;
}