@{
    ViewBag.Title = "About Us";
}

<link href="~/Content/CSS/About.css" rel="stylesheet" type="text/css" />

<div class="container-fluid p-0 m-0">
    <div class="container-fluid m-0 p-0" id="title-container">
        <div class="col-lg-10 m-auto">
            <h1 class="text-center p-3 m-4">@ViewBag.Title</h1>
            @*<h3>@ViewBag.Message</h3>*@
        </div>
    </div>
    <div class="p-1 m-0 mb-5 container-fluid" id="content">
        <div class="col-lg-6 m-auto">
            <p class="text-center p-5">
                We have been proving our services since we got established in 2020. Over 50 built in kitchens, Warbdrpobes and TV Wall Units that we have built to the satisfaction of our customers. How this company was formed was that we realised that there is market for people who need built in cabinets, and we thought we should give it a try. At first we just wanted to build wardrobes for our selves.
            </p>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-5">
            <img class="img img-fluid " src="~/Content/Images/TVUnit.jpg" />
        </div>
        @*<div class="container-fluid p-0 m-0">
            <h1>Our mission is to simply build top quality products that are affordable at the same time.</h1>
        </div>*@

        @* Maybe add youtube video(s) here later*@
    </div>
</div>