@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/CSS/Contact.css" rel="stylesheet" type="text/css" />

<div class="container-fluid p-0 m-0">
    <div class="container-fluid text-center p-5" id="title-container">
        <h1>@ViewBag.Title</h1>
        @*<h3>@ViewBag.Message</h3>*@
    </div>
    <div class="container-fluid m-0 p-sm-3 p-md-4 p-lg-5" id="content">
        <h2 class="">Don't hesitate to gat in touch with us</h2>
        <div class="row gap-1 p-sm-1 p-md-3 p-lg-5">
            <div class="col-lg-5">
                <h5>Find Us</h5>
                <p>
                    <i class="fas fa-map-marker" style="font-size:25px;"></i>&nbsp;&nbsp;
                    Reeves Rd. Abaphehli Bhekulwandle, Amanzimtoti 4126
                </p>
                <h5>Give Us A Call</h5>
                <p>
                    <i class="fas fa-phone" style="font-size:25px;"></i>&nbsp;&nbsp;
                    0727500762
                </p>
                <p>
                    <i class="fab fa-whatsapp" style="font-size:25px;"></i>&nbsp;&nbsp;
                    0727500762
                </p>
                <h5>Email Support</h5>
                <p>
                    <i class="fas fa-envelope" style="font-size:25px;"></i>&nbsp;&nbsp;
                    <a href="mailto:lindoduma10@gmail.com">lindoduma10@gmail.com</a>
                </p>
            </div>
            <div class="col-lg-5">
                <h5>Follow Us</h5>
                <p>
                    <a href="facebook.com">
                        <i class="fab fa-facebook" style="font-size:25px;"></i>&nbsp;&nbsp;
                        Facebook
                    </a>
                </p>
                <p>
                    <a href="youtube.com">
                        <i class="fab fa-youtube" style="font-size:25px;"></i>&nbsp;&nbsp;
                        Youtube
                    </a>
                </p>
                <p>
                    <a href="instagram">
                        <i class="fab fa-instagram" style="font-size:25px;"></i>&nbsp;&nbsp;
                        Instagram
                    </a>
                </p>
            </div>
        </div>
    </div>
    @* Maybe add latest facebook post here later and other social media *@
</div>