@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/CSS/Index.css" rel="stylesheet" type="text/css" />
</head>
<div id="Cats">
    <div class="container" id="Kitchen">
        <div class="row">
            <div class="col-lg-5">
                <img class="img img-responsive " src="~/Content/Images/Kitchen.jpg" />
            </div>
            <div class="col-lg-3">
                <h1>Built-In Kitchens</h1>
                <p>Get the dream built in kitchen your always wanted from us at a competitve price.</p>
                <a class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="container" id="Wardrope">
        <div class="row">
            <div class="col-lg-5">
                <h1>Wardropes</h1>
                <p>
                    Get the dream built in kitchen your always wanted from us at a competitve price.
                </p>
                <a class="btn btn-primary">See More</a>
            </div>
            <div class="col-lg-5">
                <img class="img img-responsive " src="~/Content/Images/Wardrope.jpg" />
            </div>
        </div>
    </div>
    <div class="container" id="TVUnit">
        <div class="row">
            <div class="col-lg-5">
                <img class="img img-responsive " src="~/Content/Images/TVUnit.jpg" />
            </div>
            <div class="col-lg-5">
                <h1>TV Stand Units</h1>
                <p>Get the dream built in kitchen your always wanted from us at a competitve price.</p>
                <a class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</div>