@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/CSS/Index.css" rel="stylesheet" type="text/css" />
</head>
<div class="jumbotron" id="Header">
    <div class="container">
        <h6>Welcome to BSLP Carpentry </h6>
        <h5>Your satisfaction is our top priority </h5>
        <a class="btn btn-dark rounded-0 btn-lg " href="#links"><p class="mb-1" href="#"><i class="fab fa-lg fa-whatsapp" style="color:inherit;"></i>  Whatsapp</p></a>
    </div>
</div>
<div id="Cats">
    <div class="container-fluid" id="Kitchen">
        <div class="row">
            <div class="col-lg-8">
                <img class="img img-fluid " src="~/Content/Images/Kitchen.jpg" />
            </div>
            <div class="col-lg-4" id="Description">
                <h1>Built-In Kitchens</h1>
                <p>Get the dream built in kitchen your always wanted from us at a competitve price.</p>
                @Html.ActionLink("See More", "Index", "Images", new { ProjectType = "Kitchen" }, new { @class = "btn btn-dark btn-lg" })
            </div>
        </div>
    </div>

    <div class="container-fluid m-0 p-4" id="Process">
        <div class="row justify-content-center align-items-center flex-row">
            <div class="col-7 p-1">
                <h1 class="text-center">How We Work</h1>
            </div>
            <div class="col-12 p-1">
                <div class="row gap-2 flex-sm-column flex-md-column flex-lg-row justify-content-center align-content-center align-items-center">
                    <div class="col-sm-7 col-md-6 col-lg-3" id="Step">
                        <div class="step-card">
                            <img class="align-self-center step-image" width="100" height="100" src="~/Content/Images/user-comment-icon.png" />
                            <h2>Consultation</h2>
                            <p>We meet up with you to take a look at your place and take the necessary measurements</p>
                        </div>
                    </div>
                    @* ARROW *@
                    <div class="col-sm-7 col-md-8 col-lg-1 d-flex align-items-center justify-content-center align-content-center" id="arrow">
                        <span class="fas fa-lg fa-arrow-right align-self-center"></span>
                    </div>
                    <div class="col-sm-7 col-md-6 col-lg-3" id="Step">
                        <div class="step-card">
                            <img class="align-self-center step-image" width="100" height="100" src="~/Content/Images/measuring-tape-icon.png" />
                            <h2>Design</h2>
                            <p>After we have all the measurement and your specifications, we design your product until you say satisfied with how it will look like</p>
                        </div>
                    </div>
                    @* ARROW *@
                    <div class="col-sm-7 col-md-8 col-lg-1 d-flex align-items-center justify-content-center align-content-center" id="arrow">
                        <span class="fas fa-lg fa-arrow-right align-self-center"></span>
                    </div>

                    <div class="col-sm-7 col-md-6 col-lg-3" id="Step">
                        <div class="step-card">
                            <img class="align-self-center step-image" width="100" height="100" src="~/Content/Images/kitchen-icon.png" />
                            <h2>Work</h2>
                            <p>We decide on a date for when we come to start working on your cabinets</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="Wardrope">
        <div class="row flex-sm-column-reverse flex-md-row-reverse flex-md-column-reverse flex-lg-row box">
            <div class="col-lg-4" id="Description">
                <h1>Wardrobes</h1>
                <p>
                    Get the dream built in kitchen your always wanted from us at a competitve price.
                </p>
                @Html.ActionLink("See More", "Index", "Images", new { ProjectType = "Wardrobe" }, new { @class = "btn btn-dark btn-lg" })

            </div>
            <div class="col-lg-8">
                <img class="img img-fluid " src="~/Content/Images/Wardrope.jpg" />
            </div>
        </div>
    </div>

    <div class="container-fluid m-0 p-4" id="About">
        <div class="row justify-content-center align-items-center flex-row">
            <div class="col-7 p-1">
                <h1 class="text-center">Who we are</h1>
            </div>
            <div class="col-sm-8 col-md-7 col-lg-6 p-1">
                <p class="p-3 text-center">
                    We have been proving our services since we got established in 2020. Over 50 built in kitchens, Warbdrpobes and TV Wall Units that we have built to the satisfaction of our customers. How this company was formed was that we realised that there is market for people who need built in cabinets, and we thought we should give it a try. At first we just wanted to build wardrobes for our selves.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="TVUnit">
        <div class="row">
            <div class="col-lg-8">
                <img class="img img-fluid " src="~/Content/Images/TVUnit.jpg" />
            </div>
            <div class="col-lg-4" id="Description">
                <h1>TV Stand Units</h1>
                <p>Get the dream built in kitchen your always wanted from us at a competitve price.</p>
                @Html.ActionLink("See More", "Index", "Images", new { ProjectType = "TVUnit" }, new { @class = "btn btn-dark btn-lg" })
            </div>
        </div>
    </div>
</div>