@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/CSS/Index.css" rel="stylesheet" type="text/css" />
</head>
<div class="jumbotron" id="Header">
    <div class="container">
        <h6>Welcome to BSLP Carpentry </h6>
        <h5>Your Satisfaction is our top priority </h5>
        <a class="btn btn-success btn-lg" href="#links"><i class="fab fa-lg fa-whatsapp" style="color:white;"></i>  Talk To Us</a>
    </div>
</div>
<div id="Cats">
    <div class="container-fluid" id="Kitchen">
        <div class="row">
            <div class="col-lg-8">
                <img class="img img-fluid " src="~/Content/Images/Kitchen.jpg" />
            </div>
            <div class="col-lg-4" id="Description">
                <h1>Built-In Kitchens</h1>
                <p>Get the dream built in kitchen your always wanted from us at a competitve price.</p>
                <a class="btn btn-dark btn-lg">See More</a>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="Wardrope">
        <div class="row">
            <div class="col-lg-4" id="Description">
                <h1>Wardropes</h1>
                <p>
                    Get the dream built in kitchen your always wanted from us at a competitve price.
                </p>
                <a class="btn btn-dark btn-lg">See More</a>
            </div>
            <div class="col-lg-8">
                <img class="img img-fluid " src="~/Content/Images/Wardrope.jpg" />
            </div>
        </div>
    </div>
    <div class="container-fluid" id="TVUnit">
        <div class="row">
            <div class="col-lg-8">
                <img class="img img-fluid " src="~/Content/Images/TVUnit.jpg" />
            </div>
            <div class="col-lg-4" id="Description">
                <h1>TV Stand Units</h1>
                <p>Get the dream built in kitchen your always wanted from us at a competitve price.</p>
                <a class="btn btn-dark btn-lg">See More</a>
            </div>
        </div>
    </div>
</div>